# Custom requirements

# Pre-commit requirements
bandit==1.7.4
black==22.3.0
codespell==2.1.0
flake8-docstrings==1.6.0
flake8==4.0.1
isort==5.10.1
pydocstyle==6.1.1
pyupgrade==2.32.1
yamllint==1.26.3


# Unit tests requirements
pre-commit==2.19.0
pylint==2.14.1
pytest==7.1.1
pytest-cov==3.0.0
pytest-homeassistant-custom-component